/* Media Scaling */
@media(min-width:2001px){
    :root{
        font-size: 13px;
    }
}
@media(max-width: 2000px){
    :root{
        font-size: 11px;
    }
}
@media(max-width: 900px){
    :root{
        font-size: 9px;
    }
}
@media(max-width: 600px){
    :root{
        font-size: 5px;
    }
}
@media(max-width: 350px){
    :root{
        font-size: 4px;
    }
}

/* Font Declarations */
@font-face {
    font-family: "OxaniumRegular";
    src: url(../../assets/fonts/Oxanium-Regular.ttf);
}

/* Default parameters/root */
:root{
    font-family: 'OxaniumRegular';
    --brown:#3d2d00;
    --white:#f5f5f5;
    --lightgrey:#C0C0C0;
    --lightblue:#ADD8E6;
    --lightgreen:#23B14D;
    --darkgreen:#26412A;
    --prettyblue:#2395CC;
    color:var(--white);
}

/* Applied to entire page */
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;    
    height: 100vh;
}

/* Animations Declarations */
@keyframes slidedown{
    0% {
      transform: translateY(-40rem);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes slideup{
    0% {
      transform: translateY(+40rem);
    }
    100% {
      transform: translateY(0);
    }
}
@keyframes slideleft{
    0% {
      transform: translateX(-150rem);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes slideright{
    0% {
      transform: translateX(+150rem);
    }
    100% {
      transform: translateX(0);
    }
}

/* Title Bar */
header{
    background-color: var(--prettyblue);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: slidedown 1s forwards; */
    border: 5px solid green;
    flex: 2;
}
header > h1 {
    margin: 0px;
    font-size: 5rem;
    display: inline-block;
    animation: slidedown 1.5s forwards;
}
header > img{
    width: 10rem;
}
#stinkleaf1{
    animation: slideleft 1.5s forwards;
    padding-right: 3rem;
}
#stinkleaf2{
    animation: slideright 1.5s forwards;
    padding-left: 3rem;
}

/* Middle of the page */
#middle{
    background-image: url(../../assets/images/stinkincin2.jpg);
    background-position: center center;
    background-size: 100% 100%;
    flex: 10;
}

/* Navigation Menu */
nav {
    margin: 4rem auto;
    border-radius: 3rem;
    width: 40rem;
    padding: 2rem;
}
nav > ul{
    color: var(--white);
    list-style: none;
    padding: 0;
}
nav > ul > a{
    text-decoration: none;
}
nav > ul > a > li{
    margin: 2rem;
    color: var(--white);
    background-color: var(--prettyblue);
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 3rem;
    transition: .4s;
    border: 5px solid green;
}
nav > ul > a > li:hover{
    color: var(--lightblue);
    font-size: 5rem;
    padding: 3rem;
}
#li1{
    animation: slideleft 1.5s forwards;
}
#li2{
    animation: slideright 1.5s forwards;
}

/* Footer */
footer{
    background-color: var(--prettyblue);
    text-align: center;
    display: block;
    padding: 1rem;
    justify-content: center;
    /* animation: slideup 1s forwards; */
    border: 5px solid green;
    flex: 1;
}
footer > *{
    margin: .5rem;
}
footer a {
    text-decoration: none;
    color: white;
    cursor: default;
  }